p {
	@include rem-fallback(margin-bottom, 1.3);
}

strong, b {
	font-weight: 700;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	@include rem-fallback(margin, 0, 1.5);
}

address {
	@include rem-fallback(margin, 0, 0, 1.5);
}

pre {
	background: $bg-pre;
	font-family: $font-monospace;
	@include rem-fallback(margin-bottom, 1.5);
	max-width: 100%;
	overflow: auto;
	@include rem-fallback(padding, 1.5);
}

code, kbd, tt, var {
	font-family: $font-monospace;
}

abbr, acronym {
	border-bottom: 1px dotted $border-abbr;
	cursor: help;
}

mark, ins {
	background: $bg-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

hr {
	border: 0 solid $paleblue;
	@include rem-fallback(border-top-width, .3);
	@include rem-fallback(margin, 2, 0);
}

.intro {
	font-weight: 300;
	@include rem-fallback(font-size, 2.4);
}