.entry-content {
	p a, ul a, li a {
		color: $red;
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
		&:visited {
			color: darken($red, 10%);
		}
	}
}

.more-link {
	@include more-link;
}