ul, ol {
	@include rem-fallback(margin, 0, 2, 4);
}

ul {
	list-style: none;
}

li {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		@include rem-fallback(width, .7);
		@include rem-fallback(height, .7);
		background: $darkblue;
		@include rem-fallback(left, -2);
		@include rem-fallback(top, .6)
	}
}

.entry-content li {
	@include rem-fallback(margin-bottom, 1.3);
	line-height: 1;
}

ol {
	list-style: decimal;
	 li:before {
		 content: none;
	 }
}

li > ul,
li > ol {
	margin-bottom: 0;
	@include rem-fallback(margin-left, 2);
}

dt {
	font-weight: bold;
}

dd {
	@include rem-fallback(margin, 0, 2, 2);
}

/*@include breakpoint($wide) {
	.entry-content li {
		width: 43%;
		float: left;
		position: relative;
		margin-right: 7%;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	.entry-content ul {
		@include clearfix();
	}
}*/