.account-open {
	background: $red;
	@include rem-fallback(padding, 2.4);
	@include rem-fallback(max-width, 31.5);
	margin-left: auto;
	margin-right: auto;
}

.account-open__title, .account-open__blurb {
	color: $white;
}

.account-open__blurb {
	font-family: $font-heading;
	@include rem-fallback(font-size, 1.6);
}

a.account-open__button {
	@include blue-button-cta;
	@include cta-arrow-right;
}

@include breakpoint($tablet-wide-up) {
	.sidebar-right .widget_ameris_account_open_widget {
		@include rem-fallback(margin-top, -5);
	}
}

@include breakpoint($wide) {
	.sidebar-right .widget_ameris_account_open_widget {
		@include rem-fallback(margin-top, -7);
	}
}