.video-callout {

	&__image {
		margin-bottom: 0;
		position: relative;
		&:after {
			content: "";
			@include use-sprite(icon-vid-play);
			position: absolute;
			left: 50%;
			top: 30%;
			@include rem-fallback(margin-left, -4.5);
			pointer-events: none;
			transition: top .2s;
		}
		img {
			opacity: .9;
			transition: opacity .2s;
		}
	}

	&__body {
		@include rem-fallback( padding, 2.4 );
		margin-top:-8px; // because whatever
		background: $darkblue;
		position: relative;
		&:before {
			content: "";
			display: block;
			border: solid transparent;
			@include rem-fallback(border-width, 3);
			position: absolute;
			@include rem-fallback(top, -6);
			@include rem-fallback(left, 6);
			border-bottom-color: $darkblue;
		}
	}

	&__headline {
		@include h2-look;
		@include rem-fallback( font-size, 2.4 );
		@include rem-fallback( line-height, 3 );
		color: $white;
		text-decoration: none;
	}

	&__date {
		font-family:$font-sansserif;
		text-transform:uppercase;
		color:$lightgray;
		@include rem-fallback( font-size, 1.4 );
		font-weight:700;
		text-align: center;
		margin-bottom: 0;
		@include breakpoint($tablet-wide-up) {
			text-align: left;
		}
	}

	a {
		display: block;
		background: $darkblue;
		transition: all .2s;
		text-decoration: none;

		&:hover, &:focus {
			background: $lightblue;
			.video-callout__image {
				img {
					opacity: .7;
				}
			}
		}

		&:focus {
			.video-callout__headline {
				text-decoration: underline;
			}
		}
	}

}