.widget_ameris_recent_posts_widget {
	@include rem-fallback(padding, 2.4);
	@include rem-fallback(max-width, 31.5);
	margin-left: auto;
	margin-right: auto;

	.widget-title {
		@include boldbluetext;
	}
	.recent-post__title {
		text-transform: none;
		font-family: $font-heading;
		@include rem-fallback(font-size, 1.9);
		margin-bottom: 0;
	}
	.recent-post {
		@include rem-fallback(margin-bottom, 2.4);
	}
}

.more-recent-posts__link {
	@include boldbluetext;
	@include red-arrow-right-small;
	text-decoration: none;
	color: $link-color;
	@include rem-fallback(font-size, 1.6);
	&:after {
		top: 0;
	}
}

.recent-post__meta {
	text-align: center;
	@include breakpoint($tablet-wide-up) {
		text-align: left;
	}
}