.widget_ameris_press_feed_widget, .widget_ameris_recent_posts_widget {
	@include rem-fallback(padding, 2.4);
	@include rem-fallback(max-width, 31.5);
	margin-left: auto;
	margin-right: auto;

	.widget-title {
		@include boldbluetext;
	}
	.recent-post__title {
		text-transform: none;
		@include plain-teaser-title;
		@include rem-fallback(margin-bottom, .3);
		a {display: block;}
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
	.recent-post {
		@include rem-fallback(margin-bottom, 2.4);
	}
}

.more-recent-posts__link {
	@include more-link;
}

.recent-post__meta {
	text-align: center;
	@include breakpoint($tablet-wide-up) {
		text-align: left;
	}
}

.recent-post__image img {
	display: block;
	@include rem-fallback(margin-bottom, 1.8);
}