

//
//
// -------------------- MOBILE MENU & DEFAULTS
//
//

.main-navigation {

	@include rem-fallback(font-size, 1.8);

	a {
		color: $white;
		text-transform: uppercase;
		font-family: $font-heading;
		display: block;
		@include rem-fallback(padding, 1.5, 1.5, 2);
		transition: background .5s, color .5s;
		&:hover, &:focus {
			background-color: $white;
			color: $link-color;
		}
	}

	ul {
		display: none;
	}

	li.active > ul, li:hover > ul {
		display: block;
	}

}

.menu-toggle {
	padding: 0;
	position: absolute;
	@include rem-fallback(top, 2);
	@include rem-fallback(right, 3);
	background: transparent;
	&:hover, &:active {
		background: transparent;
	}
}

.menu-toggle,
.main-navigation.toggled ul.menu {
	display: block;
}

//
//
// -------------------- END MOBILE MENU
//
//


//
//
// -------------------- START TABLET MENU
//
//



@include breakpoint( $narrow-to-desktop ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation ul ul { // hiding sublevels for now
		display:none;
	}
	.main-navigation {
		text-align: right;
		@include rem-fallback(margin-right, 3);

	}
}


.main-navigation {
	clear: both;
	&.toggled {
		
	}
}


//Personal Sub Nav
.personal-nav {

}

//Business Sub Nav
.business-nav {

}

//SBA Financing Sub Nav
.sba-nav {

}

//Residential Financing Sub Nav
.residential-nav {

}