

//
//
// -------------------- MOBILE MENU & DEFAULTS
//
//

.main-navigation {

	@include rem-fallback(font-size, 1.8);

	a {
		color: $white;
		text-transform: uppercase;
		font-family: $font-heading;
		display: block;
		@include rem-fallback(padding, 1.5, 1.5, 2);
		transition: background .5s, color .5s;
		&:hover, &:focus {
			background-color: $white;
			color: $link-color;
		}
	}

	ul {
		display: none;
	}

	li.active > ul, li:hover > ul {
		display: block;
	}

}

.menu-toggle {
	padding: 0;
	position: absolute;
	@include rem-fallback(top, 2);
	@include rem-fallback(right, 3);
	background: transparent;
	&:hover, &:active {
		background: transparent;
	}
}

.menu-toggle,
.main-navigation.toggled ul.menu {
	display: block;
}

//
//
// -------------------- END MOBILE MENU
//
//


//
//
// -------------------- START TABLET MENU
//
//


.main-navigation {
	clear: both;
	&.toggled {
		
	}
}

@include breakpoint( $narrow-to-desktop ) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		text-align: right;
		@include rem-fallback(margin-right, 3);

		ul {
			display: block;
			ul { // hiding sublevels for now
				display:none;
				a {
					color: $link-color;
				}
			}
		}

		.menu-item {
			display: inline-block;
			transition: all .2s;
			&:hover, &:focus {
				background-color: $white;
				color: $link-color;
				a {
					color: $link-color;
				}
			}
		}

		.menu-item-has-children ul.sub-menu {
			position: absolute;
			text-align: left;
			color: $link-color;
			left: 0;
			width: 100%;
			margin: 0 auto;
			background: rgba(255,255,255,.5);
		}


		//Sub Menu with toggles
		.toggle-sub__parent {
			> a {
				@include float-span(3);
				clear: left;
			}
			> .item-description {
				@include grid-span(9, 4);
				opacity: 0;
				transition: all .2s;
			}
			&:hover {
				background: transparent;
				> a {
					background: $white;
				}
			}
			&:hover > .item-description {
				opacity: 1;
				background-color: $white;
			}
			> ul.sub-menu {
				position: static;
				opacity: 0;
				transition: opacity .2s;
				@include grid-span(9, 4);
				clear: both;
			}
			&:hover > ul.sub-menu {
				opacity: 1;
			}
		}

	}

	//Open Sub Navs
	.open-sub:hover {
		> .sub-menu {
			display: table;
			> li {
				display: table-cell;
				> .sub-menu {
					display: block;
				}
			}
		}
	}


	//Personal Sub Nav
	.personal-nav {

	}

	//Business Sub Nav
	.business-nav {
//testing
		ul.sub-menu {display: block;}
	}

	//SBA Financing Sub Nav
	.sba-nav {

	}

	//Residential Financing Sub Nav
	.residential-nav {

	}

}


