.main-navigation {

	@include rem-fallback(font-size, 1.8);
	a {
		color: $white;

	}

	.menu-item a {
		text-transform: uppercase;
		font-family: $font-heading;
		display: block;
		@include rem-fallback(padding, 1.5, 1.5, 2);
		transition: background .5s, color .5s;
		&:hover, &:focus {
			background-color: $white;
			color: $link-color;
		}
	}
}


/* // Basic dropdown styles...

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			@include rem-fallback(top, 2);
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@include rem-fallback(width, 20);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
} */

/* Small menu. */

.main-navigation ul {
	display: none;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation ul ul { // hiding sublevels for now
	display:none;
}

@include breakpoint( $desktop ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation {
		text-align: right;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem-fallback(margin, 0, 0, 2);
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}