.sidebar-menu {
	background-color: $paleblue;
	@include rem-fallback(padding, 2.5, 2.4);
	a {
		@include boldbluetext;
		@include rem-fallback(padding-bottom, .5);
		display: block;
		@include rem-fallback(font-size, 1.6);
		@include rem-fallback(margin-bottom, .5);
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			@include rem-fallback(left, -2.4);
			@include rem-fallback(bottom, .3);
			height: 100%;
			opacity: 0;
			@include rem-fallback(width, 0);
			background-color: $red;
			transition: all .2s;
		}
		&:hover:before {
			height: 100%;
			opacity: 1;
			@include rem-fallback(width, .5);
		}
		&:focus {
			text-decoration: underline;
		}
	}
	.current_page_item > a:before {
		height: 100%;
		opacity: 1;
		@include rem-fallback(width, .5);
	}
	li {
		list-style: none;
		@include rem-fallback(margin-bottom, 2);
	}
	.children {
		margin: 0;
		li {
			@include rem-fallback(margin-bottom, .5);
		}
		a {
			text-transform: none;
			font-weight: 300;

			margin: 0;
		}
	}
}