.sidebar-menu {
	@include paleblue-nav;

}

.page-template-view-all-page .sidebar-menu, .parent-pageid-1464 .sidebar-menu {
	.menu > li:not(.current-page-ancestor):not(.current_page_item) {
		margin-bottom: 0;
		ul {
			display: none;
		}
	}
}

.page-template-leadership-page, .page-template-history-page {
	.sidebar-menu {
		display: none;
		&.mobile-only {
			display: block;
		}
	}
}

@include breakpoint($narrow-to-desktop) {
	.page-template-leadership-page, .page-template-history-page {
		.sidebar-menu {
			display: block;
			&.mobile-only {
				display: none;
			}
		}
	}
}