.social-links {

	li {
		@include rem-fallback(margin-left, 1);
	}

	a {
		display: block;
		text-indent: -9999px;
		transition: opacity .2s;

		&:hover, &:focus {
			opacity: .8;
		}
	}

	.linkedin a {
		@include use-sprite(icon-social-linkedin);
	}

	.facebook a {
		@include use-sprite(icon-social-facebook);
	}

	.twitter a {
		@include use-sprite(icon-social-twitter);
	}

	.youtube a {
		@include use-sprite(icon-social-youtube);
	}

	.instagram a {
		@include use-sprite(icon-social-instagram);
	}

}