.utility-navigation {
	font-family: $font-sansserif;
	@include rem-fallback(font-size, 1.6);
	font-weight: 300;
	@include rem-fallback(margin-bottom, 2);

	a {
		color: $white;
		display: inline-block;
		border-bottom: 1px solid transparent;
		transition: border .5s;
		@include rem-fallback(padding, 2, .5, .5);
		@include rem-fallback(margin-left, 1.5);
		&:hover, &:focus {
			border-bottom-color: $white;
		}
	}

	.menu-item {
		display: inline-block;
	}

}


@include breakpoint($mobile) {
	.utility-navigation {
		display: none;
	}
}

@include breakpoint($tablet) {
	.utility-navigation {
		display: none;
	}
}

@include breakpoint($desktop) {

	.utility-navigation {
		text-align: right;

	}

}