.utility-navigation {
	font-family: $font-sansserif;
	@include rem-fallback(font-size, 1.6);
	@include rem-fallback(margin-bottom, 1.4);
	.current-menu-item a {
		border-top-color: $red;
	}
	a {
		color: $white;
		display: block;
		@include rem-fallback(padding, 2.4, .5, .5);
		@include rem-fallback(margin-left, 1.5);
	}

	.menu-item {
		display: block;
	}

}

// when inside main menu (mobile)
.main-navigation .utility-navigation {

	> .menu {
		@include rem-fallback( padding-top, 2.4 );
		@include rem-fallback( padding-bottom, 1.4 );
	}

	a {
		margin-left:0;
		text-transform:none;
		font-weight:normal;
		font-family:$font-sansserif;
	}

}

// 1024+
@include breakpoint($narrow-to-desktop) {
	.utility-navigation {
		text-align: right;
		
		a {
			display:inline-block;
			border-top: solid transparent;
			@include rem-fallback(border-top-width, .4);
			transition: border .5s;
			&:hover, &:focus {
				border-top-color: $red;
			}
		}

		.menu-item {
			display: inline-block;
		}

	}
}