.page-template-about-us-page {
	.wide-banner-blurb__wrap:after {
		content: none;
	}
	.latest-updates {
		@include rem-fallback(margin-bottom, 4.8);
	}
}

//add padding to all of the about us panels
.about-our-story, .about-news-item, .about-video, .about-video-content, .about-history, .about-careers,  .about-leadership__image, .about-leadership__body, .about-investor, .about-leadership, .about-recent-press {
	@include rem-fallback(padding, 2.4);
	@include rem-fallback(margin-bottom, 2.4);
	.kicker {
		margin-top: 0;
	}
}

.about-leadership, .about-recent-press {
	padding: 0;
}

//cover background images
.about-leadership__image, .about-news-item, .about-history, .about-careers, .about-video {
	background-size: cover;
}

//set areas with background images' kickers to be white
.about-leadership__kicker, .about-history__kicker, .about-careers__kicker, .about-news-item__kicker {
	color: $white;
	text-shadow: 1px 1px 30px rgba(0,0,0,.9);
}

//min-heights
.about-history, .about-careers {
	@include rem-fallback(min-height, 32.5);
	position: relative;
}

.about-history__lower, .about-careers__lower {
	position: absolute;
	@include rem-fallback(bottom, 0);
	@include rem-fallback(left, 0);
	width: 100%;
	@include rem-fallback(padding, 2.4);
}

.about-history__headline, .about-careers__headline {
	@include voice;
	color: $white;
	@include rem-fallback(font-size, 4.2);
	text-shadow: 1px 1px 30px rgba(0,0,0,.9);
}


//layout for the top, this page is inheriting a 20 column grid
@include breakpoint($tablet-wide-up) {
	.about-panels__column {
		@include float-span(10);
		&:nth-child(2n) {
			@include float-span(10, 'last');
		}
	}
	.about-our-story {
		@include rem-fallback(margin-top, -13);
	}
	.about-video {
		@include rem-fallback(margin-top, -19);
	}
	.page-template-about-us-page {
		.wide-banner-image {
			@include rem-fallback(min-height, 61);
			@include rem-fallback(padding-bottom, 13);
		}
	}
}

@include breakpoint($tablet-skinny) {
	.about-small-panels__column {
		@include float-span(10);
		&:nth-child(2n) {
			@include float-span(10, 'last');
		}
	}
}

@include breakpoint($narrow-to-desktop) {
	.about-small-panels__column {
		@include float-span(10);
		&:nth-child(2n) {
			@include float-span(10, 'last');
		}
	}
}

//intro text for about us
.about-our-story {
	background: $red;
	color: $white;
	@include rem-fallback(font-size, 2.4);
	position: relative;
	a {
		@include more-link;
		color: $white;
		&:after {
			@include use-sprite(arrow-white-right-small);
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		@include rem-fallback(left, 6);
		@include rem-fallback(top, -6);
		border: solid transparent;
		@include rem-fallback(border-width, 3);
		border-bottom-color: $red;
	}
}

//news slideshow
.about-newsroom-wrapper {
	position: relative;
	@include rem-fallback(margin-bottom, 2.4);

	.slick-dots {
		width: auto;
		right: initial;
		left: 0;
		@include rem-fallback(height, 2.4);
		@include rem-fallback(left, 2.4);
		@include rem-fallback(bottom, 2.4);
		li {
			box-shadow: none;
			button {
				border-color: $darkblue;
			}
			&.slick-active button {
				background: $darkblue;
			}
		}
	}

}

.about-newsroom-arrows {
	position: absolute;
	@include rem-fallback(right, 2.4);
	@include rem-fallback(bottom, 2.4);
	.slick-arrow {
		font-size: 0;
		line-height: 0;
		display: block;
		box-shadow: none;
		background: transparent;
		text-indent: -9999px;
		padding: 0;
		float: left;
		@include use-sprite(arrow-red-right);
	}
	.slick-prev {
		transform: rotate(180deg);
	}
	.slick-next {
	}
}

.about-news-item {
	@include rem-fallback(min-height, 40);
	position: relative;
	margin-bottom: 0;
}

.about-news-item__title {
	@include voice;
	@include rem-fallback(font-size, 3.6);
}

.about-news-item__content {
	background: rgba(255, 255, 255, .9);
	@include rem-fallback(padding, 2.4, 2.4, 6);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}


//about-video
.about-video {
	@include rem-fallback(min-height, 50);
	position: relative;
}

.about-video__body {
	position: absolute;
	bottom: 0;
	left: 0;
	@include rem-fallback(width, 45);
	max-width: 100%;
	background: $darkblue;
	@include rem-fallback(padding, 2.4);
	color: $white;
	&:before {
		content: "";
		display: block;
		border: solid transparent;
		@include rem-fallback(border-width, 3);
		position: absolute;
		@include rem-fallback(top, -6);
		@include rem-fallback(left, 6);
		border-bottom-color: $darkblue;
	}
}

.about-video__title, a.about-video__link, a.about-history__link, a.about-careers__link {
	color: $white;
}

//investor callout
.about-investor {
	padding-top: 0; //overriding the 2.4rem set at the top of this partial
	.kicker { //need this nested for the override
		@include rem-fallback(margin-top, 2.4);
	}
}
.about-investor__headline {
	@include h2-look;
}

//Leader callout
.about-leadership__image {
	@include rem-fallback(min-height, 30);
	margin-bottom: 0;
}

.about-leadership__body {
	background: $darkblue;
	position: relative;
	&:before {
		content: "";
		display: block;
		border: solid transparent;
		@include rem-fallback(border-width, 3);
		position: absolute;
		@include rem-fallback(top, -6);
		@include rem-fallback(left, 6);
		border-bottom-color: $darkblue;
	}
}

.about-leadership__headline {
	@include h2-look;
	color: $white;
}

a.about-leadership__button {
	color: $white;
}

//recent press
.about-recent-press {
	.widget-title {
		@include rem-fallback(margin-top, 2.4);
		@include rem-fallback(padding-top, 1);
	}
}

//red area for the TINT integration
.latest-updates {
	color: $white;
	text-align: center;
	background: $red;
	@include rem-fallback(padding, 6, 5%, 0);
	@include rem-fallback(min-height, 30);
	position: relative;
	h2 {
		text-align: center;
		color: $white;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 9rem;
		@include background-image(linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0)));
	}
}

.tintup {
	@include rem-fallback(max-width, 140);
	margin: auto;

}