.sticky {
	display: block;
}

.hentry {
	@include rem-fallback(margin, 0, 0, 2);
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include rem-fallback(margin, 2, 0, 0);
}

.page-links {
	clear: both;
	@include rem-fallback(margin, 0, 0, 2);
}

.page-template-default:not(.home) .site-main {
	@include rem-fallback(max-width, 85);
}

.disclosure {
	background-color:#d7e7f2;
	@include rem-fallback( padding, 2 );
	@include rem-fallback( margin-bottom, 3 );
	text-align:center;
	p {
		margin-bottom:0;
	}
}