//Major layout elements

.content-below {
	@include content-below;
}

.leadership-grid__heading {
	@include content-below-heading;
}

.page-template-leadership-page {
	@include wide-banner-page-layout;
}

// Individual leaders on the page

.leadership-grid__panel {
	position: relative;
	a {
		text-decoration: none;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.leadership-grid__name-group {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	@include rem-fallback(padding, 1.8, 2.4);
	@include rem-fallback(height, 11);
}

.leadership-grid__name {
	font-family: $font-heading;
	font-weight: bold;
	color: $heading-color;
	text-transform: none;
	@include rem-fallback(font-size, 2);
	@include rem-fallback(margin-bottom, .5);
}

.leadership-grid__position {
	@include rem-fallback(font-size, 1.6);
	color: $text-color;
}

@include breakpoint ($tablet-skinny) {
	.leadership-grid__panel {
		@include float-span(6);
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

@include breakpoint ($tablet-wide) {
	.leadership-grid__panel {
		@include float-span(4);
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}

}

@include breakpoint ($narrow) {
	.leadership-grid__panel {
		@include float-span(6);
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

@include breakpoint ($desktop) {
	.leadership-grid__panel {
		@include float-span(4);
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}
}