//Major layout elements

.page-template-leadership-page {
	@include wide-banner-page-layout;
}

.content-below {
	@include content-below;
}

.leadership-grid__heading {
	@include content-below-heading;
	@include content-below-border;
}

.leadership-grid {
	text-align: center;
	@include add-gutter(1/2);
}

// Individual leaders on the page

.leadership-grid__panel {
	display: inline-block;
	@include rem-fallback(width, 33);
	float: none;
	position: relative;
	@include rem-fallback(margin-bottom, 2.4);
	a {
		text-decoration: none;
		display: block;
		&:hover, &:focus {
			.leadership-grid__name-group {
				@include rem-fallback(min-height, 12.4);
			}
			.leadership-grid__name:after {
				opacity: 1;
				@include rem-fallback(left, 1.9);
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.leadership-grid__name-group {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	@include rem-fallback(padding, 1.6, 2);
	@include rem-fallback(min-height, 10);
	transition: all .3s;
	transition-timing-function: ease-in-out;
}

.leadership-grid__name {
	font-family: $font-heading;
	font-weight: bold;
	color: $heading-color;
	text-transform: none;
	display: inline-block;
	@include rem-fallback(font-size, 2);
	@include rem-fallback(margin-bottom, .5);

	@include red-arrow-right-small;
	&:after {
		top: 0;
		transition: all .3s;
		opacity: 0;
	}

}

.leadership-grid__position, .leadership-grid__company {
	@include rem-fallback(font-size, 1.6);
	line-height: 1.2;
	color: $text-color;
}

.leadership-grid__management, .leadership-grid__board {
	@include clearfix;
}

@include breakpoint ($tablet-to-desktop) {
	.leadership-grid__panel {

		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.leadership-grid__panel {
		text-align: left;
	}
}


@include breakpoint ($tablet-wide) {
	.leadership-grid__heading {
		text-align: center;
	}
	.leadership-grid__panel {
		display: inline-block;
		@include float-span(6);
		@include rem-fallback(max-width, 33);
		float: none;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}

}

@include breakpoint ($narrow-to-desktop) {
	.leadership-grid__panel {
		display: block;
		@include float-span(4);
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}
}
