.content-below {
	@include content-below;
}

.page-template-leadership-page {
	@include wide-banner-page-layout;
}

.leadership-grid__panel {

}

.leadership-grid__heading {
	@include content-below-heading;
}

@include breakpoint ($tablet-skinny) {
	.leadership-grid__panel {
		@include float-span(6);
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

@include breakpoint ($tablet-wide) {
	.leadership-grid__panel {
		@include float-span(4);
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}

}

@include breakpoint ($narrow) {
	.leadership-grid__panel {
		@include float-span(6);
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

@include breakpoint ($desktop) {
	.leadership-grid__panel {
		@include float-span(4);
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}
}