.blog {
	@include wide-banner-page-layout;
}

.latest-posts-heading {
	@include boldbluetext;
	@include content-below-border;
	@include rem-fallback(margin, 2.4, 0, 3.6);
	@include rem-fallback(padding-top, 1.8);
}

.news-item--newsroom {
	border-bottom: solid $paleblue;
	@include rem-fallback(border-bottom-width, .2);
	@include rem-fallback(padding-bottom, 1);

	.news-item__title {
		@extend h2;
		@include voice;
		@include rem-fallback(letter-spacing, -.02);
	}
	.news-meta {text-align: center;}
	.news-item__thumbnail {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			@include rem-fallback(margin-bottom, 1.6);
		}
	}
	@include breakpoint($tablet-to-desktop) {
		.news-meta {text-align: left;}
		.news-item__thumbnail{
			float: right;
			@include rem-fallback(margin-left, 1.6);
		}

	}

}

.news-item__more {
	@include red-link;
	text-decoration: none;
	color: $link-color;
	@include rem-fallback(font-size, 1.6);
	&:after {
		top: 0;
	}
}

.after-blog {
	@include rem-fallback(margin-top, 3.6);
}

.blog-intro .intro {
	@include rem-fallback(margin-top, 2);
}