.search-results__header {
	@include rem-fallback(padding, 2.4);
	h1 {
		@include voice;
		@include rem-fallback(margin-top, 3);
		@include breakpoint($tablet-wide-up) {
			@include rem-fallback(font-size, 6.8);
		}
	}
}

.search .site-header {
	position: relative;
}

.search article {
	border-bottom: solid $paleblue;
	@include rem-fallback(border-bottom-width, .2);
	@include rem-fallback(padding-bottom, 1);

	.search-item__title {
		@extend h2;
		@include voice;
		@include rem-fallback(letter-spacing, -.02);
	}
	.search-item__meta {text-align: center;}
	.search-item__thumbnail {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			@include rem-fallback(margin-bottom, 1.6);
		}
	}
	@include breakpoint($tablet-to-desktop) {
		.search-item__meta {text-align: left;}
		.search-item__thumbnail{
			float: right;
			@include rem-fallback(margin-left, 1.6);
		}

	}

}

.search-item__more {
	@include red-link;
}