
.banner-image {

	float: right;
	overflow: hidden;
	position: relative;

	img {
		position: absolute;
		max-width: none;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;

		&.slidewidth {
			width: 100%;
			height: auto;
		}

		&.slideheight {
			width: auto;
			height: 100%;
		}

	}

}



.banner-blurb {
	float: right;
	@include rem-fallback(padding, 2);
	@include rem-fallback(max-width, 85);
	@include rem-fallback(font-size, 6);
	@include rem-fallback(letter-spacing, -.1);
	line-height: 1;
	color: $white;
	font-style: italic;
	font-family: $font-branding;
	font-weight: 300;

	span, em {
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: $red;
		}
	}
}

.page-title {
	@include rem-fallback(padding, 18, 2.4, 3);
	clear: both;
	width: 100%;
}

.banner-blurb__wrap, .has-banner-image .page-title {
	position: absolute;
	//width: 100%;
	left: 0;
	@include rem-fallback(bottom, 3);
	max-width: 100%;
	display: none; //hide the blurb so the page title can go on top of the image instead
}

.has-banner-image .page-title {
	display: block;
	text-shadow: 0 0 40px rgba(0,0,0,.8);
	h1 {
		color: $white;
	}

}

@include breakpoint($narrow-to-desktop) {
	.banner-blurb__wrap {
		display: block; //show the blurb when the title moves to the left
	}
	.has-banner-image .page-title {
		position: static;
		text-shadow: none;
		h1 {
			color: $heading-color;
		}
	}
}


.has-banner-image {
	.page-title {
		@include rem-fallback(padding, 4, 5, 3);
	}
}


@include breakpoint($mobile) {
	.banner-image {
		@include rem-fallback(min-height, 56);
		width: 100% !important;
		img {
			height: 100% !important;
			width: auto !important;
		}
	}
}

@media screen and (min-width: 580px) {
	.page-title {
		@include rem-fallback(padding, 15, 2.4, 3);
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-left, 5);
			@include rem-fallback(padding-right, 5);
		}
	}
}

@include breakpoint($tablet) {
	.banner-image {
		width: 100% !important;
		@include rem-fallback(min-height, 56);

	}
}

@include breakpoint($narrow-to-desktop) {
	.page-title {
		@include rem-fallback(padding, 20, 2.4, 2);
		clear: none;
	}
	//.banner ~ .content-inner-wrap {
	//	@include rem-fallback(padding-top, 20);
	//}
	.has-banner-image {
		//~ .content-inner-wrap {
		//	padding-top: 0;
		//}
		.page-title {
			@include rem-fallback(padding, 20, 2.4, 8);
			clear: none;
		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -5);
			clear: none;
		}
	}
}


@include breakpoint($desktop) {
	.banner-blurb {
		@include rem-fallback(font-size, 8.6);
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-bottom, 15);
		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -10);
		}
	}
}

@include breakpoint($wide) {
	.banner-image {
		width: 70%;
		float: right;
		img {
			position: static;
			max-width: none;
			width: 100%;
			height: auto;
			&.slidewidth {
				width: 100%;
				height: auto;
			}

			&.slideheight {
				width: 100%;
				height: auto;
			}
		}
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-bottom, 25);
		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -20);
		}
	}

}