
.banner-image {

	float: right;


	@include banner-image;

}





.banner-blurb {
	@include banner-blurb;
	float: right;
	@include rem-fallback(max-width, 85);
}

.page-title {
	@include rem-fallback(padding, 18, 2.4, 3);
	clear: both;
	width: 100%;
}

.banner-blurb__wrap, .has-banner-image .page-title {
	position: absolute;
	//width: 100%;
	left: 0;
	@include rem-fallback(bottom, 3);
	max-width: 100%;
	display: none; //hide the blurb so the page title can go on top of the image instead
}

.has-banner-image .page-title {
	display: block;
	text-shadow: 0 0 40px rgba(0,0,0,.8);
	h1 {
		color: $white;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			@include rem-fallback(margin-left, -6);
			border: solid transparent;
			@include rem-fallback(border-width, 6);
			border-bottom-color: $white;
			@include rem-fallback(margin-top, -5);
		}
	}


}


@include breakpoint($narrow-to-desktop) {
	.banner-blurb__wrap {
		display: block; //show the blurb when the title moves to the left
	}
	.has-banner-image .page-title {
		position: relative;
		text-shadow: none;
		h1 {
			color: $heading-color;
			position: relative;
			&:after {
				border-bottom-color: transparent;
				border-left-color: $white;
				top: 0;
				@include rem-fallback(right, -16);
				@include rem-fallback(margin-top, -3);
				left: inherit;
				@include rem-fallback(margin-left, 0);
			}
		}

	}

}


.has-banner-image {
	.page-title {
		@include rem-fallback(padding, 4, 5, 3);
	}
}


@include breakpoint($mobile) {
	.banner-image {
		height: 300px !important;
		height: 30rem !important;
		min-height: initial;
		width: 100% !important;
		img {
			height: 100% !important;
			width: auto !important;
		}
	}
}

@media screen and (min-width: 580px) {
	.page-title {
		@include rem-fallback(padding, 15, 2.4, 3);
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-left, 5);
			@include rem-fallback(padding-right, 5);
			h1 {
			}
		}
	}
}

@include breakpoint($tablet-skinny) {
	.banner-image {
		width: 100% !important;
		height: 450px !important;
		height: 40rem !important;
		min-height: initial;
		img {
			height: 100% !important;
			width: auto !important;
		}
	}
}

@include breakpoint($tablet-wide) {
	.banner-image {
		width: 100% !important;
		height: 450px !important;
		height: 40rem !important;
		min-height: initial;
		img {
			//height: auto !important;
			//width: 100% !important;
		}
	}

	.has-banner-image .page-title h1:after {
				content: "";
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				left: inherit;
				@include rem-fallback(margin-left, 0);
				border: solid transparent;
				@include rem-fallback(border-width, 6);
				border-bottom-color: $white;
				@include rem-fallback(margin-top, -5);
	}
}

@include breakpoint($narrow-to-desktop) {
	.page-title {
		@include rem-fallback(padding, 20, 2.4, 2);
		clear: none;
	}
	//.banner ~ .content-inner-wrap {
	//	@include rem-fallback(padding-top, 20);
	//}

	.has-banner-image {
		//~ .content-inner-wrap {
		//	padding-top: 0;
		//}
		.page-title {
			@include rem-fallback(padding, 24, 2.4, 8);
			clear: none;
		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -5);
			clear: none;
		}
	}
}

@include breakpoint($narrow) {
	.has-banner-image .banner-image {
		height: 470px !important;
		height: 47rem !important;
		min-height: initial;
		img {
			height: 100% !important;
			width: auto !important;
		}
	}
}


@include breakpoint($desktop) {
	.banner-blurb {
		@include rem-fallback(font-size, 8.6);
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-bottom, 15);

		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -10);
		}
	}
}

@media all and (min-width: 1200px) and (max-width: 1419px) {
	.has-banner-image .banner-image {
		height: 520px !important;
		height: 52rem !important;
		min-height: initial;
	}
}

@include breakpoint($wide) {
	.banner-image {
		width: 70%;
		float: right;
		img {
			//position: static;
			max-width: none;
			width: 100%;
			height: auto;
			&.slidewidth {
				width: 100%;
				height: auto;
			}

			&.slideheight {
				width: 100%;
				height: auto;
			}
		}
	}
	.has-banner-image {
		.page-title {
			@include rem-fallback(padding-bottom, 25);
			h1:after {
				@include rem-fallback(right, -14);
			}
		}
		~ .inner-wrap .sidebar-left {
			@include rem-fallback(margin-top, -20);
		}
	}

	.has-banner-image .banner-image {
		height: 570px !important;
		height: 57rem !important;
		min-height: initial;
	}

}


@media all and (min-width: 1680px) {
	.banner {
		max-width: 1680px;
		max-width: 168rem;
		margin: 0 auto;
	}
	.banner-image {
		width: 1214px !important;
		width: 121.4rem !important;
	}
}