.site-footer {

	@include background-image(linear-gradient(to top right, shade($darkblue, 25%), tint($lightblue, 5%)));
	@include rem-fallback(padding, 3, 0, 25);
	font-family: $font-sansserif;
	color: $white;
	@include rem-fallback(font-size, 1.6);

	a {
		color: $white;
		text-decoration: underline;
		@include rem-fallback(padding, 1, 0, 0, 1);

		&:hover, &:focus {
			text-decoration: none;
		}

		&:visited {
			color: shade($white, 5%);
		}

	}

}

.footer-top {
	@include rem-fallback(margin-bottom, 2);
	@include rem-fallback(padding-bottom, 2);
	border-bottom: 2px solid tint($lightblue, 10%);
	@include clearfix();
}

//FOOTER MEMBERSHIP LOGOS

.footer__logo {
	display: inline-block;
	@include rem-fallback(margin-right, 1);
}

#Member_FDIC {
	@include use-sprite(logo-Member_FDIC);
}

#Equal_Housing_Lender {
	@include use-sprite(logo-Equal_Housing_Lender);
}

//NEWSLETTER SIGNUP

input.newsletter-signup__email {
	margin-bottom: 0;
	@include rem-fallback(padding, .8, 1, .5, 1);
	&:focus {
		border-color: $white;
	}
}

input.newsletter-signup__submit {
	@include red-button;
	border: 1px solid $red;
	@include rem-fallback(padding, .8, 2, .9, 1);
	@include rem-fallback(padding-left, 4.2);
}

.newsletter-signup {
	position: relative;

	input {
		display: block;
		box-sizing: border-box;
		@include rem-fallback(font-size, 1.8);
		float: left;
		line-height: 1;
		@include rem-fallback(height, 3.8);
		width: 100%;
	}
}


.newsletter-signup__submit__icon {
	position: relative;
	display: inline-block;

	&:before {
		content: "";
		display: inline-block;
		pointer-events: none;
		position: absolute;
		@include rem-fallback(left, .5);
		@include rem-fallback(top, .4);
		@include use-sprite(icon-newsletter);
		//transition: left .2s;
	}

	&:hover:after, &:focus:after {
		//@include rem-fallback(left, 1.9);
	}
}

.copyright, .site-info  {
	float: left;
}

.site-info {
	@include rem-fallback(margin-bottom, 1);
}

.social-links {
	float: right;
}

.newsletter-signup {
	clear: both;
}

footer .menu-item {
	display: inline-block;
}

@include breakpoint($mobile) {
	.newsletter-signup__submit__icon, input.newsletter-signup__email {
		width: 100%;
		@include rem-fallback(margin-bottom, .8);
	}
	.social-links, .site-info {
		float: none;
		@include rem-fallback(margin-top, 1.2);
		@include rem-fallback(margin-bottom, 2);
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		li {
			margin: 0;
		}
		a {
			@include rem-fallback(margin-left, .5);
			@include rem-fallback(margin-right, .5);
		}
	}
}


@include breakpoint($tablet-to-desktop) {

	.newsletter-signup {

		input {
			width: auto;
		}
	}

	input.newsletter-signup__email {
		@include rem-fallback(padding-right, 2);
	}

	input.newsletter-signup__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		@include rem-fallback(margin-left, -.5);
	}

	.newsletter-signup__submit__icon {
		&:before {
			//left: 0;
		}
	}

	.footer-utility {
		float: left;
		clear: both;
		@include rem-fallback(margin-top, 1);
	}

}

@include breakpoint($tablet-wide-up) {
	.newsletter-signup {
		float: right;
		clear: right;
		@include rem-fallback(margin-top, 1);
	}
}


@include breakpoint($narrow-to-desktop) {

	.site-info {
		margin: 0;
	}

	.site-footer {
		@include rem-fallback(padding, 3.5, 0, 45);
	}

	.footer-copyright-links {
		float: left;
	}

	.newsletter-signup, .social-links {
		float: right;
		clear: none;
		margin-top: 0;
	}

}

@include breakpoint($desktop) {

	.footer-utility {
		float: right;
		clear: none;
		margin: 0;
	}

}




