.site-header {
	//background: rgba(9, 39, 100, .9);
	position: absolute;
	z-index: 10;
	width: 100%;
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		@include background-image(linear-gradient(to top right, $darkblue, $lightblue));
		opacity: .9;
	}
	> * {
		position: relative;
		z-index: 1;
	}
}

.site-branding {
	@include rem-fallback(margin, 1, 0);
	float: left;
}

.logo {
	//@include use-sprite("logo");
	display: block;
	@include rem-fallback(max-width, 23.4);
	&:focus {
		outline-color: $white;
	}
	img {
		@include rem-fallback(width, 20);
	}
}

.nav-wrapper {
	//@include grid-span(9,4);
	//float: right;
}

.menu-toggle {
	float: right;
	clear: right;
}

.search-form {
	clear: both;
	float: right;
	width: 100%;
}



@media screen and (min-width: 580px) and (max-width: 1023px) {
	.search-form {
		clear: none;
		@include rem-fallback(margin-top, 6);
		width: auto;
	}
}


@include breakpoint($narrow-to-desktop) {
	.site-branding {
		width: 20%;
	}
	.logo {
		@include rem-fallback(padding, 1, 0, 0, 2);
	}
	.logo img {
		width: 95%;
	}

	.utility-navigation {
		float: right;
	}

	.main-navigation {
		float: right;
		clear: none;
	}

	.search-form {
		clear: right;
		@include rem-fallback(width, 23);
		@include rem-fallback(top, .7);
	}

}

@media screen and (min-width: 1280px) {
	.search-form {
		//clear: right;
	}
}