.site-header {
	//background: rgba(9, 39, 100, .9);
	position: absolute;
	z-index: 10;
	width: 100%;
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		@include background-image(linear-gradient(to top right, $darkblue, $lightblue));
		opacity: .9;
	}
	> * {
		position: relative;
		z-index: 1;
	}
}



.logo {
	@include use-sprite("logo");
	display: block;
}

@include breakpoint($desktop) {
	.site-branding {
		//@include grid-span(3,1);
		float: left;
	}
	.utility-navigation {

	}
	.nav-wrapper {
		@include grid-span(9,4);
	}
	.main-navigation {
		//@include float-span(6);
		float: left;
		clear: both;
	}
	.search-form {
		float: right;
	}
}