.site-header {
	//background: rgba(9, 39, 100, .9);
	position: absolute;
	z-index: 10;
	width: 100%;
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		@include background-image(linear-gradient(to top right, $darkblue, $lightblue));
		opacity: .9;
	}
	> * {
		position: relative;
		z-index: 1;
	}
}

.site-branding {
	@include rem-fallback(margin, 1, 0);
	float: left;
}

.logo {
	@include use-sprite("logo");
	display: block;
}

.nav-wrapper {
	//@include grid-span(9,4);
	//float: right;
}

.menu-toggle {
	float: right;
	clear: right;
}


.search-form {
	float: right;
	clear: both;
}


@include breakpoint($tablet-to-desktop) {

	
	.utility-navigation {
		float: right;
	}

	.main-navigation {
		float: right;
		clear: none;
	}


}

@include breakpoint($desktop) {
	.search-form {
		clear: right;
	}
}