.sidebar {
	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .sod_select {
		@include rem-fallback(font-size, 1.8);
		@include rem-fallback(padding, 1.5, 1);
	}
	h2 {
		@include rem-fallback(font-size, 3);
	}

}

.sidebar-menu {
	background-color: $paleblue;
	@include rem-fallback(padding, 2.5, 2.4);
	a {
		@include rem-fallback(padding-bottom, .5);
		font-weight: 700;
		font-family: $font-heading;
		display: block;
		@include rem-fallback(margin-bottom, .5);
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	li {
		text-transform: uppercase;
		list-style: none;
		@include rem-fallback(margin-bottom, 2);
	}
	.children {
		margin: 0;
		li {
			text-transform: none;
			@include rem-fallback(margin-bottom, .5);
		}
		a {
			font-weight: 300;
			margin: 0;
		}
	}
}