.wide-banner-blurb {
	@include banner-blurb;
	position: absolute;
	@include rem-fallback(bottom, 4);

}
.wide-banner-blurb__wrap {
	@include rem-fallback(max-width, 142);
	margin: 0 auto;
	position: relative;
	text-shadow: 0 0 14rem rgba(0,0,0,.8);
	height: 100%;
	text-align: center;
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border: solid transparent;
		@include rem-fallback(border-width, 3);
		border-bottom-color: $white;
		bottom: 0;
		left: 50%;
		@include rem-fallback(margin-left, -3);
	}
}

.wide-banner-image {
	@include banner-image;
	@include rem-fallback(height, 50);
}

.attachment-wide-banner {
	margin: 0 auto;
	display: block;
}

.wide-banner {
	~ .inner-wrap .sidebar-left {
		margin-left: 0;
	}
}

@include breakpoint($tablet-wide-up) {
	.wide-banner-blurb__wrap {
		text-align: left;
		&:after {
			@include rem-fallback(border-width, 5);
			@include rem-fallback(left, 3);
			margin-left: 0;
		}
	}
	.wide-banner-blurb {
		@include banner-blurb;
		position: absolute;
		@include rem-fallback(bottom, 6);

	}
}