//
// Breakpoints 
//

$mobile: max-width 479px;
$tablet: 480px 959px;
$tablet-to-desktop: min-width 480px;
//$desktop: min-width 960px;
$narrow-to-desktop: min-width 960px;
$narrow: 960px 1349px;
$desktop: min-width 1350px;