//
// Breakpoints 
//

$mobile: max-width 529px;
$tablet: 530px 1023px;
$tablet-skinny: 530px 739px;
$tablet-wide: 740px 1023px;
$tablet-wide-up: min-width 740px;
$tablet-to-desktop: min-width 530px;
$tablet-to-narrow: 530px 1199px;
//$desktop: min-width 960px;
$narrow-to-desktop: min-width 1024px;
$narrow: 1024px 1199px;
$desktop: min-width 1200px;
$wide: min-width 1420px;
