//
// Colors
//

// Basic Colors
$white: #ffffff;
$black: #000000;

// Text
$text-color: $black;
$heading-color: $black;
$link-color: royalblue;
$link-hover: purple;
$link-visited: midnightblue;

// Backgrounds
$bg-body: #fff;
$bg-screen: #f1f1f1;
$bg-hr: #ccc;
$bg-button: #e6e6e6;
$bg-pre: #eee;
$bg-ins: #fff9c0;

// Borders
$border-button: #ccc #ccc #bbb;
$border-button-hover: #ccc #bbb #aaa;
$border-button-focus: #aaa #bbb #bbb;
$border-input: #ccc;
$border-abbr: #666;