//
// Colors
//

// Basic Colors
$white: #ffffff;
$black-color: #000000;
$brown: #4C441A;

//Ameris Bank Colors
$paleblue: #d7e7f2;
$lightblue: #15397f;
$darkblue: #092764;
$gray: #3d3d3d;
$red: #d31145;

// Text
$text-color: $gray;
$heading-color: $darkblue;
$link-color: $lightblue;
$link-hover: $darkblue;
$link-visited: $darkblue;
$text-on-dark: #b9bdca;

// Backgrounds
$lightgray: #ebedef;
$bg-body: #fff;
$bg-screen: #f1f1f1;
$bg-hr: #ccc;
$bg-button: $darkblue;
$bg-pre: #eee;
$bg-ins: #fff9c0;

// Borders
$border-button: transparent;
$border-button-hover: transparent;
$border-button-focus: transparent;
$border-input: transparent;
$border-abbr: transparent;