
// Setting base font size as 10 for easy maths
$base-font-size:   10px; // The font size set on the root html element
$base-line-height: 1.3; // The base line height

$h1-font-size: 3.2 * $base-font-size;
$h2-font-size: 2.4 * $base-font-size;
$h3-font-size: 1.8 * $base-font-size;
$h4-font-size: 1.6 * $base-font-size;
$h5-font-size: 1.3 * $base-font-size;
$h6-font-size: 1 * $base-font-size;

// Font stacks
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Font stack variables
$base-font-family:'Chaparral Pro', $georgia; // The font family set on the html element.
$font-body:       'Chaparral Pro', $georgia;
$Chaparral-Pro: 	'Chaparral Pro', $georgia;

$font-branding: 	"adobe-text-pro", $georgia;
$adobe-text-pro:	"adobe-text-pro", $georgia;

//$font-heading:		'canada-type-gibson', $helvetica;
//$font-sansserif:	'canada-type-gibson', $helvetica;
//$Gibson: 					'canada-type-gibson', $helvetica;

//$font-heading:		'sofia-pro', $helvetica;
//$font-sansserif:	'sofia-pro', $helvetica;

$font-heading:		'AvenirNextLTPro-Regular', $helvetica;
$font-sansserif:	'AvenirNextLTPro-Regular', $helvetica;
$font-heading-bold: 'AvenirNextLTPro-Bold', $helvetica;

$font-monospace:   $courier;

// Font weights /* this will need to be changed depending on the actual font you are using */
$light: 200;
$regular: 400;
$bold: 700;
$black: 900;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;