.inner-wrap {
	@include rem-fallback(max-width, 140);
	@include rem-fallback(padding, 0, 5);
	margin: 0 auto;
	position: relative;

	@include clearfix;
}

.site-content {
	@include background-image(linear-gradient(to top center, $lightgray, $white));
	@include rem-fallback(padding-top, 20);
}

.home .site-content {
	padding-top: 0;
}


@include breakpoint($tablet-to-desktop) {
	.inner-wrap {
		@include rem-fallback(padding, 0, 2);
	}
}


@include breakpoint($wide) {
	.inner-wrap {
		padding: 0;
	}
}
