.account-access {
	background: $red;
	@include rem-fallback(padding, 2, 2, 1.5, 2);
	color: $white;
	@include rem-fallback(margin-top, 2);
	@include rem-fallback(margin-bottom, 2);

	input, .sod_select, .sod_select .sod_list_wrapper {
		width: 100%;
	}

	input[type="text"], .sod_select {
		@include rem-fallback(height, 4.8);
	}

	a, h2 {
		color: $white;
	}

	p {
		font-style: italic;
		margin-bottom: 0;
		font-weight: 500;
	}

	.sod_select:before {
		@include rem-fallback(top, 1);
	}

}

input.account-access__submit {
	@include blue-button-cta;
	width: auto;
	@include rem-fallback(padding-left, 6.5);
}

.account-access__submit-wrapper {
	display: block;
	position: relative;
	@include rem-fallback(margin, 1, 0, 1.5);
	&:before {
		content: '';
		display: inline-block;
		@include use-sprite(icon-signin-person);
		position: absolute;
		@include rem-fallback(top, .9);
		@include rem-fallback(left, 1.1);
		pointer-events: none;
	}
}

.account-access__form {
	@include clearfix;
}

@include breakpoint($tablet-skinny) {
	.account-access {
		@include rem-fallback(max-width, 40);
		margin-left: auto;
		margin-right: auto;
	}
	.home .account-access {
		@include rem-fallback(margin-top, -6);
	}
}

@include breakpoint($tablet-wide) {
	.home .account-access {
		input[type="text"], .sod_select {
			@include rem-fallback(padding-top, 2);
			@include rem-fallback(height, 5.8);
		}
		input.account-access__submit {
			width: 100%;
			clear: none;
			@include rem-fallback(height, 5.8);
		}
	}
	.home .account-access {
		input[type="text"], .sod_select {
			width: 38%;
			margin-right: 2%;
			display: block;
			float: left;
		}
		.account-access__submit-wrapper {
			width: 20%;
			float: left;
			margin: 0;
		}
	}

}

@include breakpoint($tablet-wide-up) {
	.home .account-access .sod_select:before {
		@include rem-fallback(top, 1.4);
	}
}

@include breakpoint($narrow-to-desktop) {
	.home .account-access {
		@include rem-fallback(margin-bottom, 3);
		@include rem-fallback(padding, 2.6, 2.6, 2);

		p {
			@include rem-fallback(font-size, 2);
		}

		input[type="text"], .sod_select {
			@include rem-fallback(padding-top, 2);
			@include rem-fallback(padding-bottom, 1.5);
			@include rem-fallback(height, 5.8);
		}
	}
}