.account-access {
	background: $red;
	@include rem-fallback(padding, 2, 2, 1.5, 2);
	color: $white;
	@include rem-fallback(margin-bottom, 2);

	input, .sod_select, .sod_select .sod_list_wrapper {
		width: 100%;
	}

	input[type="submit"] {
		@include blue-button-cta;
		width: auto;
		@include rem-fallback(margin, 1, 0, 1.5);
	}

	a {
		color: $white;
	}

	p {
		font-style: italic;
		margin-bottom: 0;
		font-weight: 300;
	}

}

@include breakpoint($tablet) {
	.account-access {
		@include rem-fallback(max-width, 40);
	}
}

@include breakpoint($tablet-to-desktop) {
	.account-access {
		@include rem-fallback(margin-top, -6);
		@include rem-fallback(margin-bottom, 3);
	}
}

@include breakpoint($narrow-to-desktop) {
	.account-access {
		@include rem-fallback(padding, 2.6, 2.6, 2);

		p {
			@include rem-fallback(font-size, 2);
		}
	}
}