

.button.callout-box--large__button {
	@include red-button-cta;
	@include cta-arrow-right;
	@include rem-fallback(margin, 2, 0);
	width: auto;
	&:after {
		margin-left: 0;
	}
}

.callout-box--large__kicker {
	text-shadow: none;
	color: $heading-color;
}

.callout-box--large__header {
	@include rem-fallback(min-height, 30);
	background-size: cover;
	@include rem-fallback(padding, 2);
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		@include rem-fallback(left, 6);
		border: solid 30px transparent;
		border-bottom-color: white;
	}
}

.callout-box--large__headline {
	color: $link-color;
	position: absolute;
	@include rem-fallback(font-size, 3.2);
	@include rem-fallback(bottom, 3.6);
	margin-bottom: 0;
	text-shadow: none;
}

.callout-box--large__body {
	background: $white;
	@include rem-fallback(padding, 2);
}

.callout-box--large__description {
	@include rem-fallback(font-size, 1.9);
	@include rem-fallback(margin, 1.6, 0);
}

@include breakpoint($narrow-to-desktop) {

	.callout-box--large__headline{
		@include rem-fallback(font-size, 4.3);
	}

	.callout-box--large__header {
		@include rem-fallback(min-height, 40);
	}

	.callout-box--large__body, .callout-box--large__header {
		@include rem-fallback(padding, 2, 4);
	}
}