.latest-news{

	@include add-grid(6);
	@include add-gutter(1/5);

}



.latest-news__kicker {
	@include rem-fallback(margin, 2);
}

.news-item__link {
	text-decoration: none;
	transition: all .2s;
	&:hover {
		text-decoration: underline;
	}
}
.news-item__title {
	@include voice;
	@include rem-fallback(font-size, 2.6);
	color: $link-color;
}
.news-meta {
	@include rem-fallback(margin-bottom, 1);
}
.news-item__excerpt {
	//font-weight: 300;
	@include rem-fallback(font-size, 1.8);
	line-height: 1.3;
	p {
		margin: 0;
	}
}

.news-item__body {
	background: $white;
	@include rem-fallback(padding, 2);
}


.news-item {
	@include rem-fallback(margin-bottom, 2);

	&:first-of-type {
		clear: both;
	}

	@include clearfix();

}

.attachment-news-home {
	height: auto;
	display: block;
	max-width: none;
	width: 100%;
}




/*@include breakpoint($tablet-wide) {
	.news-item--home {
		@include float-span(2);
	}

	.news-item--home:last-of-type {
		@include float-span(2, 'last')
	}

	.news-item--home:first-of-type {
		clear: both;
	}

}*/

@mixin horizontal-news {
	.news-item__header, .news-item__body {
		float: left;
	}
	.news-item {
		width: 100%;
		position: relative;
	}
	.news-item__body {
		width: 60%;
		float: right;
	}
	.news-item__header {
		width: 40%;
		position: absolute;
		height: 100%;
		overflow: hidden;
	}
	.attachment-news-home {
		height: 100%;
		display: block;
		max-width: none;
		width: auto;
	}

	.latest-news__kicker-wrap {
		float: none;
		width: auto;
	}


}

@include breakpoint($tablet-to-desktop) {
	.latest-news__kicker-wrap {
		@include grid-span(2, 1);
		float: none;
		margin-right: 0;
	}
}


@include breakpoint($tablet) {
	.latest-news__kicker-wrap {
		width: 100%;
	}
	//@include horizontal-news;
	.news-item--home {
		@include rem-fallback(width, 44);
		margin-left: auto;
		margin-right: auto;
	}
}

@include breakpoint($tablet-wide) {
	//@include horizontal-news;
	.latest-news {
		text-align: center;
	}
	.news-item--home {
		text-align: left;
		display: inline-block;
		vertical-align: top;
		@include rem-fallback(width, 32);
		@include rem-fallback(margin-right, 2.4);
	}
}

@media all and (min-width: 890px) /*and (max-width: 1199px)*/ {
	.news-item--home {
		@include float-span(2);
	}

	.news-item--home:last-of-type {
		@include float-span(2, 'last')
	}
}

@include breakpoint($narrow-to-desktop) {
	//@include horizontal-news;
}

@include breakpoint($desktop) {
	.latest-news__kicker-wrap {
		@include grid-span(2,1);
		float: none;
	}
	.latest-news {
		@include rem-fallback(margin-top, 5);
	}
	.news-item__body {
		@include rem-fallback(min-height, 30);
	}
}

@include breakpoint($wide) {

	.news-item__header, .news-item__body {
		position: static;
		width: auto;
	}
	.news-item--home {
		@include float-span(2);
	}

	.news-item--home:last-of-type {
		@include float-span(2, 'last')
	}

	.attachment-news-home {
		height: auto;
		display: block;
		max-width: none;
		width: 100%;
	}

}