.slides {
	height: 85vh;
	color: $white;
	position: relative;
	z-index: 0;
	@include rem-fallback(max-height, 90);
	@include rem-fallback(min-height, 63);
}

.slick-slide:focus {
	outline: transparent;
}

.slide__inner-wrap {
	position: relative;
	z-index: 4;
	height: 100%;
}

.slide__text-wrap {
	position: relative;
	z-index: 1;
	text-shadow: 5px 5px 80px #000;
	padding-top: 8rem;
	margin-top: 20vh;
}

.slide {
	overflow: hidden;
	background-color: $brown;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	/* &:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		@include filter-gradient(#000000, #000000, horizontal); // IE6-9
		@include background-image(linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 100%));
	} */
	
	img {
		position: absolute;
		max-width: none;
		top: 0;
		width: 100%;
		height: auto;
		opacity: .8;

		&.slidewidth {
			width: 100%;
			height: auto;
		}

		&.slideheight {
			width: auto;
			height: 100%;
		}

	}

}

.slide img {
	background-color:red !important;
}

.slide__title.kicker {
	color: $white;
	margin-top: 0;
}

.slide__blurb {
	position: relative;
	@include rem-fallback(font-size, 5);
	@include voice;
	color: $white;
	@include rem-fallback(letter-spacing, -.2);
}

.button.slide__cta {
	@include red-button-cta;
	@include cta-arrow-right;
	box-shadow: none;

	&:hover, &:focus {
		box-shadow: none;
	}

}

.slick-list, .slick-track {
	height: 100%;
	width: 100%;
}

.slick-dots {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	@include rem-fallback(bottom, 7);
	z-index: 15;
	text-align: center;

	li {
		display: inline-block;
		//line-height: 0;
		list-style: none;
		margin: 0;
		@include rem-fallback(margin, 0, .8, 0, .8);
		padding: 0;
		//float: left;
		box-shadow: 0 0 120px #000;
		line-height: 0;
		border-radius: 50%;
		overflow: hidden;
		@include rem-fallback(width, 1.6);
		@include rem-fallback(height, 1.6);

		&:before {
			content: none;
		}

		button {
			text-indent: -9999px;
			@include rem-fallback(width, 1.6);
			@include rem-fallback(height, 1.6);
			background: transparent;
			border-radius: 50%;
			overflow: hidden;
			@include rem-fallback(border-radius, 1);
			border-color: $white;
			@include rem-fallback(border-width, .2);
			border-style: solid;
			transition: all .2s;
			padding: 0;
			box-shadow: none;
		}

		&.slick-active button {
			background-color: $white;

		}
	}
}

@include breakpoint($mobile) {
	.slick-dots {
		@include rem-fallback(bottom, 1.5);
	}
	.button.slide__cta {
		display: inline-block;
	}
	.slide__text-wrap {
		text-align: center;
	}
}

@include breakpoint($tablet-skinny) {
	.button.slide__cta {
		display: inline-block;
	}
	.slide__text-wrap {
		text-align: center;
	}
}



@include breakpoint($tablet-wide-up) {

	.slide__blurb {
		@include rem-fallback(font-size, 6.5);
	}

	.slide__text-wrap {
		@include rem-fallback(width, 40);
		padding-top: 8rem;
		margin-top: 20vh;
		position: absolute;
		right: 10%;
		bottom: inherit;

	}

	.slick-dots {
		@include rem-fallback(bottom, 4);
		right: 5%;
		width: auto;
		li {
			@include rem-fallback(margin, 0, 0, 0, 1.6);
		}
	}

}

@include breakpoint($narrow-to-desktop) {

	.slide__blurb {
		@include rem-fallback(font-size, 8);
	}

	.slide__text-wrap {
		@include rem-fallback(width, 49);
		bottom: auto;
	}

}