.tool {
	text-align: center;
	margin: 0 auto;
	@include rem-fallback(margin-bottom, 4);
	@include rem-fallback(max-width, 30);
	@include clearfix();
}

.tool__title {
	@include boldbluetext;
}

.home-tools {
	@include rem-fallback(margin-top, 3);
	@include clearfix();
	position: relative;
}

@include breakpoint($tablet-to-desktop) {

	.home-tools {
		@include add-grid(12);
		@include add-gutter(1/3);
	}

}

@media screen and (min-width: 530px) and (max-width: 739px) {

	.tool {
		@include float-span(6);
		max-width: none;

		&:nth-child(2n) {
			@include float-span(6, 'last');
		}

	}

}

@media screen and (min-width: 740px) {

	.home-tools {
		@include rem-fallback(margin-bottom, 2);
	}

	.tool {
		@include float-span(3);
		@include rem-fallback(margin-bottom, 4);

		&:nth-child(4n){
			@include float-span(3, 'last');
		}
	}

	.button.tool__link {
		position: absolute;
		bottom: 0;
		display: block;
		float: none;
		margin: 0 auto;
		width: inherit;
	}

}

@include breakpoint($narrow-to-desktop) {



}

@include breakpoint($wide) {
	.button.tool__link {
		position: static;
		display: inline-block;
		margin: 0 auto;
		width: auto;
	}
}