.news-meta, .meta {
	font-family: $font-sansserif;
	text-transform: uppercase;
	@include rem-fallback(font-size, 1.4);

	span {
		font-family: $font-heading-bold;
	}
	a {
		color: $text-color;
		text-decoration: none;
	}

}

.meta {
	font-family: $font-heading-bold;
}