.quick-links {
	@include rem-fallback(margin-bottom, 4);
	@include clearfix();
	.sod_select {
		width: 100%;
		border: 2px solid $paleblue;
		@include rem-fallback(padding, 1.7, 2, 1.5, 1.7);
		@include rem-fallback(font-size, 1.9);
	}
	.sod_list_wrapper {
		width: 100%;
	}
	.sod_label {
		@include rem-fallback(font-size, 1.8);
	}
	.sod_select:before {
		@include use-sprite(icon-form-selectarrows-white);
		position: absolute;
		z-index: 1;
		@include rem-fallback(top, 1.2);
		@include rem-fallback(right, 1.5);
	}
	.sod_select:after {
		border-color: $red;
		background-color: $red;
		opacity: 1;
		@include rem-fallback(border-width, .2);
		@include rem-fallback(top, -.2);
		@include rem-fallback(right, -.2);
		@include rem-fallback(width, 4.8);
	}
}

// in widget form
.widget_ameris_looking_widget .quick-links {
	float:none;
	width:100%;
	.sod_select {
		@include rem-fallback(margin-top, 1.25);
		margin-bottom:0;
	}
}