a.view-all, .view-all a {
	@include red-link;
}

.button {
	@include blue-button;
}

.button-cta {
	@include red-button-cta;
	@include cta-arrow-right;
}

.intro {
	font-weight: 300;
	@include rem-fallback(font-size, 2.4);
}

.entry-content {

	.button, .button-cta {
		background: none;
		padding: 0;
		box-shadow: none;
		&:after {
			content: none;
		}
	}

	.button a, a.button {
		@include blue-button;
		text-decoration: none;
	}

	.button-cta a, a.button-cta {
		@include red-button-cta;
		@include cta-arrow-right;
		text-decoration: none;
	}
}