.featured-solutions {
	@include add-grid(9);
	clear: both;
	@include clearfix();
}

.solution {

	.attachment-landing-solution {
		display:block;
		margin:0 auto;
		@include rem-fallback(margin-bottom, 1);
	}
	
}

.solution__title {
	@include boldbluetext;
}

@include breakpoint($tablet-wide) {
	.solution {
		@include float-span(3);
		&:nth-child(3n) {
			@include float-span(3, 'last');
		}
	}
}

@include breakpoint($narrow-to-desktop) {
	.solution {
		@include float-span(3);
		&:nth-child(3n) {
			@include float-span(3, 'last');
		}
	}
}