.featured-solutions {
	@include add-grid(9);
	clear: both;
	@include clearfix();
}

.solution__description {
	text-align: center;
}

.solution {

	.attachment-landing-solution {
		display:block;
		margin:0 auto;
		@include rem-fallback(margin-bottom, 1);
	}
	
}

.solution__title {
	@include boldbluetext;
}

.solution__link {
	@include red-link;
}

@include breakpoint($tablet-wide-up) {
	.solution__description {
		text-align: left;
	}
	.solution {
		@include float-span(3);
		&:nth-child(3n) {
			@include float-span(3, 'last');
		}
		&:nth-child(3n+1) {
			clear: both;
		}
	}
}