.related-resources {
	@include add-grid(12);
	@include clearfix();
	border-top: solid $paleblue;
	@include rem-fallback(border-width, .3);
	@include rem-fallback(margin, 3.6, 0);
	@include rem-fallback(padding-top, 3.6);
}

.resources-rotator {
	list-style: none;
	margin: 0;
	clear: both;
	@include rem-fallback(margin-bottom, 3);
	.slick-arrow {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
		@include rem-fallback(margin-top, -2);
		box-shadow: none;
		background: transparent;
		text-indent: -9999px;
		padding: 0;
		@include use-sprite(arrow-blue-right);
	}
	.slick-prev {
		transform: rotate(180deg);
		@include rem-fallback(left, -1.1);
	}
	.slick-next {
		@include rem-fallback(right, -1.1);
	}
	.slick-dots {
		right: 0;
		@include rem-fallback(height, 2.4);
		@include rem-fallback(bottom, -5.4);
		li {box-shadow: none;}
	}
}

.related-resource {
	text-align: center;
	&:before {
		content: none;
	}
}

.related-resource__link {
	text-decoration: none;
}

.related-resource__title {
	@include boldbluetext;
	text-align: center;
	margin-bottom: 0;
	//text-decoration: none;
}